body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 15px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.header {
	background: #20918c;
}

.wrapper {
	/* display: flex; */
	
}

.container {
	width: 1185px;
	margin: 0 auto;
}  

.work-1 {
	background: rgba(147,206,222,1);
	background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

.logo-work {
	text-align: center;
    font-size: 80px;
    text-align: center;
}

.logo-1 {
	color: black;
	font-size: 34px;

}

.work-image1 {
	margin-top: 15px;
    width: 350px;
	height: 225px;
}

.button-work-1 {
	color: #fff;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 50px;
	background: #000;
	padding: 10px 18px 10px 18px;
	font-weight: bold;
	margin-left: 50px;
	transition: 0.5s all ease;
}

.button-work-1:hover {
	opacity: 0.8s;
	background: #93cede;
}
